.cuadro{

    border: 1px solid blue;
    height: 120px;
    width: 80px;
    float: left;
    margin-left: 30px;

}

#pantalla{
    margin: 0 auto;
    text-align: center;
    width: 30%;    
}

.boton{

    width: 150px;
    height: 30px;

}

.divBoton{
    width:100%;
    float:left;
    padding: 100px;
    text-align: center;
    margin: 0 auto;
    text-align: center;
    width: 30%;    
}
